<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/reset.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
    <title>Photo Gallery</title>
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Photo Gallery</a>
    </nav>

    <header id="small">
        <h1>Frank Lloyd Wright</h1>
        <p>Gallery</p>
    </header>

    <main>
        <div id="gallery">
            <img src="images/gallery-0.jpg" />
            <img src="images/gallery-1.jpg" />
            <img src="images/gallery-2.jpg" />
            <img src="images/gallery-3.jpg" />
            <img src="images/gallery-4.jpg" />
            <img src="images/gallery-5.jpg" />
            <img src="images/gallery-6.jpg" />
            <img src="images/gallery-7.jpg" />
            <img src="images/gallery-8.jpg" />
            <img src="images/gallery-9.jpg" />
        </div>
    </main>

    <footer>
        <p>Ironhack Lab "Express" - December 2022</p>
    </footer>

</body>

</html>