<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/reset.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
    <title>Works</title>
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Photo Gallery</a>
    </nav>

    <header id="small">
        <h1>Frank Lloyd Wright</h1>
        <p>Main Works</p>
    </header>

    <main>

        <div id="works">
            <article>
                <img src="images/works-1.jpg" />
                <h2>Taliesin West</h2>
                <p class="location">Scottsdale, Arizona</p>
                <p class="desc">
                    The architect’s winter home, nestled in the arid foothills of Arizona’s McDowell Mountains,
                    is now today the home of the Frank Lloyd Wright Foundation and the School of Architecture at
                    Taliesin.
                    At the core, this home is connected to the desert from which it rises—vaulting ceilings crafted
                    of
                    wood
                    and glass rise to the sky, and stone punctuates the modern space, even as an elemental material
                    for
                    walls and ceilings.
                </p>
            </article>

            <article>
                <img src="images/works-2.jpg" />
                <h2>Robie House</h2>
                <p class="location">Chicago, Illinois</p>
                <p class="desc">
                    Unveiled in 1910, this home designed for Frederick C. Robie is the ultimate—and most
                    innovative—example of Wright’s Prairie style. The living-dining space—a narrow, but long room,
                    separated by a freestanding fireplace—is celebrated as one of the great masterpieces of
                    20thcentury
                    architecture. The exterior wall, essentially made up of glass doors opening out to the patio and
                    beyond, breaks down the boundaries of the interior and exterior and fills the space with natural
                    light.
                </p>
            </article>

            <article>
                <img src="images/works-3.jpg" />
                <h2>Fallingwater</h2>
                <p class="location">Mill Run, Pennsylvania</p>
                <p class="desc">
                    Constructed in 1936 atop a gushing waterfall, this vacation home built in southwestern
                    Pennsylvania
                    for a prominent Pittsburgh couple, is considered Wright’s crowning achievement of organic
                    architecture. Glass walls open to the landscape, the first-floor living and dining room merge as
                    one
                    open space from which a hatch door opens to a suspended stairway that descends to the stream
                    below.
                </p>
            </article>
        </div>

    </main>

    <footer>
        <p>Ironhack Lab "Express" - December 2022</p>
    </footer>

</body>

</html>